html {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding: 0px;
  height: 100%;
  background: rgb(36, 36, 36);
  /* margin: 0; */
}

h1 {
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 15px;
}

#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  max-height: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 100%;
  background:rgba(0, 0, 255, 0);
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0);
}

.outsideWrapper{ 
  width:100%; height:100%; 
}

.insideWrapper{ 
  width:100%; height:100%; 
  position:relative;
}

.coveredImage{ 
  width:100%; height:100%; 
  position:absolute; top:0px; left:0px;
}

.coveringCanvas{ 
  position:absolute; top:340px; left:238px;
}

.name{
  position:absolute;
  top: 360px;
  left: 210px;
  font-size: 40px;
  font-family: Arial;
}

 .temp{
  position:absolute;
  top: 510px;
  left: 345px;
  font-size: 40px;
  font-family: Arial;
 }

 .center{
  position:absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
 }

